In [1]:
import numpy as np
import pandas as pd

In [26]:
data = pd.read_csv('merge_data_update.csv', index_col=0)

In [27]:
data

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ClassPr_S,ClassSc_S,SchD_S,TxD_S,LndAc_S,ImpAc_S,OthAc_S,HSTtl_D,HSTtl_S,GLA
0,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,RESIDENTIAL,1-STORY 1945 & OLDER,1.0,1.0,37300.0,0.0,111700.0,NaN,NaN,856.0
1,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,RESIDENTIAL,1-STORY TWNHM - 1946 & NEWER,1.0,1.0,43500.0,0.0,130600.0,NaN,NaN,1049.0
2,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,RESIDENTIAL,1-STORY 1945 & OLDER,1.0,1.0,41100.0,0.0,123200.0,NaN,NaN,1001.0
3,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,RESIDENTIAL,2-STORY 1945 & OLDER,1.0,1.0,31100.0,0.0,93300.0,NaN,4850.0,1039.0
4,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,RESIDENTIAL,2-STORY 1946 & NEWER,1.0,1.0,64300.0,0.0,192800.0,NaN,NaN,1665.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,903205040,952,121000,30,RL,NaN,8854,Pave,NaN,Reg,...,RESIDENTIAL,1-STORY 1945 & OLDER,1.0,1.0,34600.0,0.0,103900.0,4850.0,4850.0,952.0
2576,905402060,1733,139600,20,RL,NaN,13680,Pave,NaN,IR1,...,RESIDENTIAL,1-STORY 1946 & NEWER ALL STYLES,1.0,1.0,46300.0,0.0,138800.0,NaN,NaN,1733.0
2577,909275030,2002,145000,90,RH,82.0,6270,Pave,NaN,Reg,...,RESIDENTIAL,DUPLEX - ALL STYLES AND AGES,1.0,1.0,45800.0,0.0,137400.0,NaN,NaN,2002.0
2578,907192040,1842,217500,60,RL,NaN,8826,Pave,NaN,Reg,...,RESIDENTIAL,2-STORY 1946 & NEWER,1.0,1.0,66300.0,0.0,198900.0,4850.0,4850.0,1842.0
2579,906223180,1911,215000,60,RL,80.0,9554,Pave,NaN,IR1,...,RESIDENTIAL,2-STORY 1946 & NEWER,1.0,1.0,62700.0,0.0,187900.0,NaN,NaN,1911.0

In [29]:
ppsft = pd.concat([data['SalePrice']/data['GrLivArea']], axis=1)

In [32]:
data['ppsft'] = pd.concat([ppsft], axis=1)

In [33]:
data

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ClassSc_S,SchD_S,TxD_S,LndAc_S,ImpAc_S,OthAc_S,HSTtl_D,HSTtl_S,GLA,ppsft
0,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,1-STORY 1945 & OLDER,1.0,1.0,37300.0,0.0,111700.0,NaN,NaN,856.0,147.196262
1,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,1-STORY TWNHM - 1946 & NEWER,1.0,1.0,43500.0,0.0,130600.0,NaN,NaN,1049.0,132.983794
2,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,1-STORY 1945 & OLDER,1.0,1.0,41100.0,0.0,123200.0,NaN,NaN,1001.0,124.775225
3,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,2-STORY 1945 & OLDER,1.0,1.0,31100.0,0.0,93300.0,NaN,4850.0,1039.0,109.720885
4,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,2-STORY 1946 & NEWER,1.0,1.0,64300.0,0.0,192800.0,NaN,NaN,1665.0,136.336336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,903205040,952,121000,30,RL,NaN,8854,Pave,NaN,Reg,...,1-STORY 1945 & OLDER,1.0,1.0,34600.0,0.0,103900.0,4850.0,4850.0,952.0,127.100840
2576,905402060,1733,139600,20,RL,NaN,13680,Pave,NaN,IR1,...,1-STORY 1946 & NEWER ALL STYLES,1.0,1.0,46300.0,0.0,138800.0,NaN,NaN,1733.0,80.553953
2577,909275030,2002,145000,90,RH,82.0,6270,Pave,NaN,Reg,...,DUPLEX - ALL STYLES AND AGES,1.0,1.0,45800.0,0.0,137400.0,NaN,NaN,2002.0,72.427572
2578,907192040,1842,217500,60,RL,NaN,8826,Pave,NaN,Reg,...,2-STORY 1946 & NEWER,1.0,1.0,66300.0,0.0,198900.0,4850.0,4850.0,1842.0,118.078176
2579,906223180,1911,215000,60,RL,80.0,9554,Pave,NaN,IR1,...,2-STORY 1946 & NEWER,1.0,1.0,62700.0,0.0,187900.0,NaN,NaN,1911.0,112.506541

In [37]:
data.groupby('BldgType').agg(['mean', 'count'])

                   PID          GrLivArea            SalePrice        \
                  mean count         mean count           mean count
BldgType
1Fam      7.213195e+08  2139  1502.985975  2139  181854.923796  2139
2fmCon    8.362802e+08    54  1487.166667    54  125428.240741    54
Duplex    7.325089e+08    87  1692.643678    87  141175.494253    87
Twnhs     6.443515e+08    98  1255.408163    98  137329.489796    98
TwnhsE    6.402235e+08   202  1329.202970   202  187586.450495   202

          MSSubClass       LotFrontage        ...        OthAc_S        \
                mean count        mean count  ...           mean count
BldgType                                      ...
1Fam       41.778869  2139   73.207114  1743  ...  169244.554455  2121
2fmCon    184.444444    54   67.411765    51  ...  128137.962963    54
Duplex     90.000000    87   72.785714    70  ...  124558.620690    87
Twnhs     153.775510    98   24.890110    91  ...  126118.556701    97
TwnhsE    131.782178   202   41.220859   163  ...  169398.000000   200

              HSTtl_D            HSTtl_S                GLA             ppsft  \
                 mean count         mean count         mean count        mean
BldgType
1Fam      5133.781987  1399  5741.348234  1387  1519.417650  2119  121.614087
2fmCon    4629.545455    22  4629.545455    22  1484.166667    54   90.439322
Duplex    4850.000000     4  4850.000000     4  1692.919540    87   87.391424
Twnhs     4580.555556    54  4570.192308    52  1255.845361    97  110.263671
TwnhsE    4558.270677   133  4516.793893   131  1332.645000   200  141.124166


         count
BldgType
1Fam      2139
2fmCon      54
Duplex      87
Twnhs       98
TwnhsE     202

[5 rows x 98 columns]

In [38]:
data

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ClassSc_S,SchD_S,TxD_S,LndAc_S,ImpAc_S,OthAc_S,HSTtl_D,HSTtl_S,GLA,ppsft
0,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,1-STORY 1945 & OLDER,1.0,1.0,37300.0,0.0,111700.0,NaN,NaN,856.0,147.196262
1,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,1-STORY TWNHM - 1946 & NEWER,1.0,1.0,43500.0,0.0,130600.0,NaN,NaN,1049.0,132.983794
2,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,1-STORY 1945 & OLDER,1.0,1.0,41100.0,0.0,123200.0,NaN,NaN,1001.0,124.775225
3,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,2-STORY 1945 & OLDER,1.0,1.0,31100.0,0.0,93300.0,NaN,4850.0,1039.0,109.720885
4,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,2-STORY 1946 & NEWER,1.0,1.0,64300.0,0.0,192800.0,NaN,NaN,1665.0,136.336336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,903205040,952,121000,30,RL,NaN,8854,Pave,NaN,Reg,...,1-STORY 1945 & OLDER,1.0,1.0,34600.0,0.0,103900.0,4850.0,4850.0,952.0,127.100840
2576,905402060,1733,139600,20,RL,NaN,13680,Pave,NaN,IR1,...,1-STORY 1946 & NEWER ALL STYLES,1.0,1.0,46300.0,0.0,138800.0,NaN,NaN,1733.0,80.553953
2577,909275030,2002,145000,90,RH,82.0,6270,Pave,NaN,Reg,...,DUPLEX - ALL STYLES AND AGES,1.0,1.0,45800.0,0.0,137400.0,NaN,NaN,2002.0,72.427572
2578,907192040,1842,217500,60,RL,NaN,8826,Pave,NaN,Reg,...,2-STORY 1946 & NEWER,1.0,1.0,66300.0,0.0,198900.0,4850.0,4850.0,1842.0,118.078176
2579,906223180,1911,215000,60,RL,80.0,9554,Pave,NaN,IR1,...,2-STORY 1946 & NEWER,1.0,1.0,62700.0,0.0,187900.0,NaN,NaN,1911.0,112.506541